###====================================================================================###
###    Stuff to exclude from the remote repo
###====================================================================================###

# exclude the ignore file
.gitignore
.gitattributes

# =======================
# OS artifacts
# =======================
.DS_Store
Thumbs.db

# =======================
# Logs and temp files
# =======================
*.log
*.tmp
*.bak
*.bkp
*.swp
*~
[Tt]emp/
*[Ss]cratch*

# =======================
# Private/proprietary
# =======================
/Private/
bash_environment

# =======================
# Large files
# =======================
*.iso
*.vhdx
*.vhd
*.zip